/*
JaxCode.com
Author: Lily Fitzmeyer
*/

:root {
  --red: #fa1919;
  --primary: #fff;
  --yellow: #ffd952;
  --darkyellow: #ffca1e;
  --orange: #ff9747;
  --green: #0ca757;
  --green: #008a0b;
  --green: #26d462;
  --darkgreen: #00b740;
  --lightpurple: #d3ccff;
  --dodgerblue: dodgerblue;
  --blue: #47cbff;
  --brightblue: #00beff;
  --royalblue: #0160ff;
  --darkblue: #0051ff;
  --softblue: #2a63ff7c;
  --softpurple: #c177f3;
  --purple: #8559ff;
  --darkpurple: #7b00ff;
  --white: #fff;
  --black: #000;
  --gray: #767575;
  --lightgray: #b7b7b7;
  --darkgray: #434242;
  --roboto: 'Mukta', sans-serif;
  --monospace: 'Inconsolata', monospace;
  /* Font Sizes */
  --fs-h1: clamp(2.5rem, 6.25vw, 4rem);
  --fs-h1-tablet-primer: clamp(2.5rem, 4vw, 4.375rem);
  --fs-h1-tablet: clamp(2.5rem, 3vw, 4rem);
  --fs-h2: clamp(2.5rem, 4.5vw, 3.5rem);
  --fs-h3: clamp(2rem, 4vw, 3rem);
  --fs-h3-5: 2.25rem;
  --fs-h4: 1.5rem;
  --fs-h5: 1.125rem;
  --fs-h5-6: 1.25rem;
  --fs-h5-5: 1.125rem;
  --fs-h6: 1rem;
  --fs-h7: 0.9375 rem;
  --fs-text: 0.9375rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: black;
  background: white;
  letter-spacing: 0.2px;
  line-height: 1.6;
  letter-spacing: 0.4px;
  font-family: var(--roboto);
  font-size: 16px;

  overflow-x: hidden;
  justify-content: center;
  /* min-height: 150vh; */
  margin: 0;
}

body.nav_open-no_scroll {
  overflow: hidden;
}

body.scrolled {
  --primary: #fa1919;
}

a {
  color: var(--blue);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-weight: bold;
  margin: 0;
  font-weight: 400;
}

h1,
h2 {
  line-height: 1.1;
}

h3,
h4 {
  line-height: 1.4;
}

p {
  padding: 0;
  margin: 0;
  line-height: 1.6;
}

input,
button,
textarea,
select {
  font-size: inherit;
}

button {
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  font-size: inherit;
  line-height: 1em;
}

/* .flow > *:where(:not(:first-child)) {
  margin-top: 1rem;
} */

.flex ul > li {
  list-style: none;
}

.form-control {
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
  height: 2.75rem;
  border-color: white;
}

/* reset user agent stylesheet chrome*/
ul {
  padding-inline-start: 0;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

/* font awesome*/

.icon::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

iframe {
  width: 100%;
  height: 100%;
  min-height: 400px;
}

/*  -------------------------------- */
/*  Accessibility ------------------ */
/*  -------------------------------- */

.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  margin: -1;
  white-space: nowrap;
  clip-path: inset(50%);
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.skip-to-content {
  position: absolute;
  z-index: 9999;
  background: transparent;
  color: white;
  margin-inline: auto;
  font-size: 0.875rem;
  transform: translateY(-100%);
  transition: transform 250ms ease-in;
}

.skip-to-content:focus {
  transform: translateY(0);
}

/*  -------------------------------- */
/*  Colors ------------------------- */
/*  -------------------------------- */

.red {
  color: var(--red);
}

.orange {
  color: var(--orange);
}

.yellow {
  color: var(--yellow);
}

.darkyellow {
  color: var(--darkyellow);
}

.green {
  color: var(--green);
}

.pink-red {
  color: #f22976;
}

.darkgreen {
  color: var(--darkgreen);
}
.dodgerblue {
  color: var(--dodgerblue);
}

.blue {
  color: var(--blue);
}

.darkblue {
  color: var(--darkblue);
}

.brightblue {
  color: var(--brightblue);
}

.softpurple {
  color: var(--softpurple);
}

.purple {
  color: var(--purple);
}

.lightpurple {
  color: var(--lightpurple);
}

.darkpurple {
  color: var(--darkpurple);
}

.lightgray {
  color: var(--lightgray);
}

.gray {
  color: var(--gray);
}

.white {
  color: white;
}

.bg-lightorange {
  display: inline-block;
  background: linear-gradient(120deg, rgba(255, 220, 184, 0.9), rgba(255, 236, 184, 0.9));
  padding-inline: 6px;
  line-height: 1.5;
}

.bg-pricetable {
  background-color: rgba(255, 255, 255, 0.745);
  border-radius: 12px;
  box-shadow: 0 0 6px #43424219;
  padding: 30px 10px 44px 10px;
}

/* #primer .bg-pricetable h3 {
  color: rgb(0, 128, 255);
} */

/* #primer .bg-pricetable {
  background-color: rgb(0 0 0 / 57%);
}

#primer button {
  background-color: #fff;
} */

.bg-lightorange {
  display: inline-block;
  background: linear-gradient(120deg, rgba(91, 219, 0, 0.9), rgba(0, 218, 142, 0.9));
  padding-inline: 6px;
  line-height: 1.5;
}

.bg-lightred {
  display: inline-block;
  background: linear-gradient(120deg, rgba(145, 49, 255, 0.3), rgba(38, 42, 255, 0.3));
  padding-inline: 6px;
  line-height: 1.5;
}

.bg-lightgreen {
  display: inline-block;
  background: linear-gradient(120deg, rgba(217, 250, 248, 0.8), rgba(214, 248, 249, 0.8));
  padding-inline: 6px;
  line-height: 1.5;
}

.bg-lightpurple {
  background: linear-gradient(
    120deg,
    rgba(112, 112, 250, 0.55),
    rgba(56, 189, 255, 0.55)
  );
}

.bg-lighterpurple {
  background: linear-gradient(120deg, rgba(112, 112, 250, 0.2), rgba(56, 189, 255, 0.2));
}

.bg-lighterpurple {
  background: linear-gradient(120deg, rgb(0, 185, 241), rgb(0, 177, 247));
}

.bg-lightishpurple {
  background: linear-gradient(120deg, rgba(112, 112, 250, 0.8), rgba(56, 189, 255, 0.8));
}

.bg-blue {
  background-color: #cdf3ff;
}

.bg-gray {
  background-color: #f6f7fd;
}

.bubble-title {
  color: white;
  background: linear-gradient(120deg, var(--brightblue), var(--purple));
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 60px !important;
}

.br-10px {
  border-radius: 10px;
  display: grid;
  place-items: center;
}

/*  -------------------------------- */
/*  Typography --------------------- */
/*  -------------------------------- */

.fs-h1 {
  font-size: var(--fs-h1);
  font-weight: 700;
}

.h1-primer {
  font-size: var(--fs-h1);
  font-weight: 700;
}

@media only screen and (max-width: 90rem) {
  .fs-h1 {
    font-size: var(--fs-h1-tablet);
  }

  .h1-primer {
    font-size: var(--fs-h1-tablet-primer);
  }
}

.fs-h2 {
  font-size: clamp(40px, var(--fs-h2), 60px);
  font-weight: 700;
}

.fs-h3 {
  font-size: var(--fs-h3);
  font-weight: 700;
  /* text-transform: uppercase; */
}

.fs-h3-intro {
  font-size: var(--fs-h3);
  font-size: clamp(2rem, 4.5vw, 3.25rem);
  font-weight: 500;
  letter-spacing: 0.1px;
  line-height: 1.2;
  text-shadow: -1px 1px 1px #000;
  -webkit-text-stroke: -1px 1px 1px #000;
}

.fs-h3-5 {
  font-size: var(--fs-h3-5);
}

.fs-h4 {
  font-size: var(--fs-h4);
}

.fs-h5 {
  font-size: var(--fs-h5);
  letter-spacing: 1.1px;
  font-family: 'inconsolata', monospace;
}

.fs-h5-snug {
  font-size: var(--fs-h5);
  letter-spacing: 0.2px;
  font-family: 'inconsolata', monospace;
}

.fs-h5-5 {
  font-size: var(--fs-h5-5);
  letter-spacing: 1.2px;
  font-family: 'inconsolata', monospace;
}

.fs-h5-6 {
  font-size: var(--fs-h5-6);
  letter-spacing: 1.2px;
  font-family: 'inconsolata', monospace;
}

.fs-7 {
  font-size: var(--fs-7);
  letter-spacing: 1.2px;
  font-family: 'inconsolata', monospace;
}

.sansserif {
  font-family: 'Mukta', 'Roboto', sans-serif;
}

.monospace {
  font-family: 'inconsolata', monospace;
}

.fs-h6 {
  font-size: var(--fs-h6);
  letter-spacing: 0.8px;
  font-weight: 500;
}

.fs-text {
  font-size: var(--fs-text);
}

.fs-h3-title-blue {
  color: var(--brightblue);
  font-size: var(--fs-h3);
  font-weight: 700;
  text-transform: uppercase;
}

.fs-h3-title {
  color: black;
  font-size: var(--fs-h3);
  font-weight: 700;
  /* text-transform: uppercase; */
}

.fs-h6-title-blue {
  /* color: var(--brightblue); */
  font-size: var(--fs-h5);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}

.fs-h6-title-royalblue {
  /* color: #0160ff; */
  font-size: var(--fs-h5-5);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.tiny-info {
  font-size: 13px;
  /* max-width: 47ch; */
}

.inline-accent {
  padding-bottom: 0.25rem;
  display: inline-block;
  margin-left: 0.5rem;
  font-weight: 400;
}

.divider {
  height: 5px;
  background: black;
  max-width: 64vw;
  margin-inline: auto;
}

/*  -------------------------------- */
/*  Utility ------------------------ */
/*  -------------------------------- */

.container {
  max-width: 90rem;
  padding-inline: 11rem;

  padding-top: 7rem;
  padding-bottom: 7rem;
  margin-inline: auto;
}

.container-pilo {
  max-width: 90rem;
  padding-inline: 5rem;
  margin-inline: auto;
}

.container-bg {
  padding-top: 3rem;
  padding-inline: 11rem;
  padding-bottom: 7rem;
  max-width: 90rem;
  margin-inline: auto;
}

.container-title {
  display: grid;
  max-width: 90rem;
  text-align: center;
  padding-top: 6rem;
  padding-inline: 11rem;
  margin-inline: auto;
  justify-content: center;
}

@media (min-width: 49rem) and (max-width: 79.999rem) {
  .container {
    max-width: 70rem;
    /* padding-top: 3rem;
        padding-bottom: 3rem; */
  }

  .container-title {
    max-width: 70rem;
    padding-inline: 13rem;
  }
}

@media (min-width: 40.001rem) and (max-width: 48.999rem) {
  .container {
    padding-inline: 6rem;
    /* padding-top: 3rem;
        padding-bottom: 3rem; */
  }

  .container-bg {
    padding-inline: 4rem;
    /* padding-top: 3rem;
        padding-bottom: 3rem; */
  }

  .container-title {
    padding-inline: 6rem;
  }
}

@media only screen and (max-width: 40rem) {
  .container-pilo {
    max-width: 90rem;
    padding-inline: 2rem;
    margin-inline: auto;
  }

  .container {
    padding-inline: 2.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .container-bg {
    padding-inline: 2.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .container-title {
    padding-inline: 3rem;
  }
}

.flow > * {
  margin-bottom: 1rem;
}

.flow-sm > * {
  margin-bottom: 0.25rem;
}

.flow-self {
  margin-bottom: 1.5rem;
}

.max-flow {
  margin-bottom: 2rem;
}

.flex {
  display: flex;
}

.bold {
  font-weight: 600;
}

.semi-bold {
  font-weight: 500;
}

.not-bold {
  font-weight: 400;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.all-caps {
  text-transform: capitalize;
}

.center {
  text-align: center;
}

.place-center {
  place-items: center;
}

.outline {
  outline: solid red 1px;
}

.grid {
  display: grid;
}

p.inline {
  display: inline-block;
  margin-left: 12px;
}

.inline {
  display: inline-block;
}

.pb-05 {
  padding-bottom: 0.5rem;
}

.pb-075 {
  padding-bottom: 0.75rem;
}

.p-3r {
  padding: 3rem;
  border-radius: 10px;
}

.p-4r {
  padding: 2.25rem 2.5rem 2.5rem;
  border-radius: 10px;
  margin-right: 0;
  /* border-right: solid rgb(0, 174, 255) 10px;
  border-right: solid var(--red) 10px; */
}

@media only screen and (min-width: 66rem) {
  .p-4r {
    margin-right: -3rem;
  }
}

@media only screen and (min-width: 84rem) {
  .p-4r {
    padding: 3.25rem 4rem 3.75rem;
  }
}

.max90-ch {
  max-width: 90ch;
}

.max45-ch {
  max-width: 45ch;
}

.lh-15 {
  line-height: 1.45;
}

/*  -------------------------------- */
/*  Buttons ------------------------ */
/*  -------------------------------- */

.explore-home {
  border: solid 2px var(--purple);
  color: var(--white);
  /* color:#00ccf5; */
  background: transparent;
  font-family: inherit;
  letter-spacing: 0.6px;
  padding: 0.75rem 1.5rem;
  border-radius: 16px;
  margin-top: 10px;
  font-family: 'inconsolata', monospace;
}

.explore-arrow {
  display: block;
  border: none;
  color: var(--white);
  /* color:#00ccf5; */
  background: transparent;
  font-size: 18px;
  letter-spacing: 0.6px;
  padding: 0.65rem 1.5rem;
  border-radius: 16px;
  margin-top: 10px;
  line-height: 1.2;
  font-family: 'inconsolata', monospace;
}

.explore {
  border: solid 2px var(--red);
  color: #7548f0;
  color: var(--red);
  /* color:#00ccf5; */
  background: transparent;
  font-family: inherit;
  letter-spacing: 0.6px;
  padding: 0.75rem 1.5rem;
  border-radius: 16px;
  margin-top: 10px;
  font-family: 'inconsolata', monospace;
}

.explore-comingsoon {
  cursor: not-allowed;
  border: solid 2px var(--red);
  color: var(--red);
  /* color:#00ccf5; */
  background: rgba(128, 128, 128, 0.066);
  font-family: inherit;
  letter-spacing: 0.6px;
  padding: 0.75rem 1.5rem;
  border-radius: 16px;
  margin-top: 10px;
  font-family: 'inconsolata', monospace;
  margin-top: 20px;
}

.enroll {
  border: solid white 2px;
  color: white;
  background: transparent;
  font-family: inherit;
  letter-spacing: 0.6px;
  padding: 0.5rem 1.375rem;
  border-radius: 16px;
  font-family: 'inconsolata', monospace;
}

.enroll.rolling {
  background: linear-gradient(120deg, rgb(80, 49, 255), rgb(102, 82, 255));
  background: linear-gradient(120deg, var(--darkpurple), var(--purple));
  background: #fa1919;
  border: solid #fa1919 2px;
  font-family: 'inconsolata', monospace;
}

.enroll-standard {
  border: solid 2px var(--blue);
  color: var(--white);
  /* color:#00ccf5; */
  background: var(--blue);
  padding: 0.6875rem 1rem 0.6875rem 1rem;
  font-family: inherit;
  letter-spacing: 0.7px;
  border-radius: 20px;
  font-family: 'Mukta', monospace;
  text-transform: uppercase;
  font-size: 14px;
}

/*  -------------------------------- */
/*  Icons/Small Imgs ------------------ */
/*  -------------------------------- */

.sound-waves {
  width: 17px;
  height: 200px;
  margin-bottom: 2px;
}

.comp-sci-logo {
  width: 30px;
  height: 30fdrtfgpx;
}

.phone-icon {
  width: 28px;
  aspect-ratio: 1;
  margin-bottom: 2px;
}

.ribbon-icon {
  width: 27px;
  height: 27px;
}

.info-icon {
  width: 64px;
  height: 64px;
}

.arrow-icon {
  width: 24px;
  margin-inline: 10px;
}

.purple-arrow-icon {
  margin-inline: 10px;
}

/*  -------------------------------- */
/*  Header ------------------------- */
/*  -------------------------------- */

.jc-sticky-header {
  padding-top: 16px;
  color: white;
  background: transparent;
  position: sticky;
  top: 0;
  z-index: 9998;
  transition: all 0.5s ease-in-out;
  height: auto;
}

.jc-sticky-header.active {
  padding-top: 6px;
  padding-bottom: 4px;
  background: rgba(255, 255, 255, 1);
  color: white;
  box-shadow: 0 0 10px #1111111e;
}

.jc-sticky-header.navopen {
  background: rgb(0, 0, 20);
  color: white;
}

.jc-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.jaxcode-logo {
  display: flex;
  font-weight: 400;
  padding: 14px 50px 16px 20px;
  letter-spacing: 1.1px;
  color: white;
  font-size: 1.875rem;
  /* font-family: 'Open Sans', sans-serif; */
}

.jc-sticky-header.navopen .jaxcode-logo {
  color: white;
}

.jaxcode-logo.active {
  color: black;
  font-family: 'Inconsolata', monospace;
  font-size: 2rem;
  font-weight: 600;
}

.grand-opening {
  display: inline-block;
  margin-left: 6px;
  font-size: 17px;
  letter-spacing: 1.6px;
  color: white;
}

.grand-opening.go-active {
  color: #fa1919;
}

.ee {
  color: rgb(255, 234, 0);
  color: #a019fa;
  color: #8919fa;
  color: #fa1919;
  /* text-shadow: 0 0 16px #151515; */
}

.ee.ee-active {
  color: var(--purple);
  color: #fa1919;
  /* text-shadow: none; */
}

.go-intro {
  display: none;
}

@media only screen and (max-width: 60rem) {
  .jc-header {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .go-intro {
    display: block;
    place-content: center;
    background: rgb(138 16 16 / 31%);
    padding: 7px;
    max-width: 300px;
    margin-inline: auto;
    border-radius: 10px;
  }
  .jc-header > div:first-of-type {
    display: none;
  }

  .jc-header > div:nth-of-type(3) {
    justify-self: flex-end;
  }
}

/* @media only screen and (min-width: 90rem) {
  .bg-main-home::before {
    background: rgba(6, 12, 34, 0.92);
  }
} */

/*  -------------------------------- */
/*  Intro Home --------------------- */
/*  -------------------------------- */

/* [class="grid-"] {
  display: grid;
} */

.bg-main-home {
  position: relative;
  /* background-color: black; */
  /* background: url('imgs/ee-bg-circle-black.png');
  background-size: cover;
  background-position: 51.03% center; */

  background-color: black;
  background-image: url('imgs/animate-bg.svg');
  background-size: cover;
  background-position: center;

  border-bottom: solid 6px var(--purple);
  border-bottom: solid 6px #facd19;
  border-bottom: solid 6px #a00000;
  z-index: 1;
}

/* @media (max-width: 50rem) {
  .bg-main-home {
    background-image: url('imgs/animate-bg-mobile.svg');
  }
} */

/* linear-gradient(
      180deg,
      rgba(115, 0, 255, 0.23),
      rgba(64, 64, 126, 0.21)
    ), */

.bg-main-home.home-active {
  border-bottom: solid 6px var(--purple);
  border-bottom: solid 6px #fa1919;
}

.bg-main-home::before {
  content: '';
  position: absolute;
  background: rgba(6, 12, 34, 0.68);
  background: rgba(15, 16, 20, 0.62);
  background: rgba(8, 11, 20, 0.9);
  background: rgba(0, 0, 0, 0.64);
  width: 100%;
  height: 100%;
  inset: 0 0 0 0;

  z-index: 2;
}

#svg-animate {
  stroke: #646464;
  stroke-width: 1px;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: lineAnimation 7s alternate infinite;
}

@keyframes lineAnimation {
  to {
    stroke-dashoffset: 0;
  }
}

.grid-intro-home {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 4rem;
  padding-bottom: 2rem;
  margin-top: -100px;
}

.grid-intro-home > div {
  padding-top: 14rem;
  gap: 1rem;
  align-self: center;
  color: white;
  z-index: 999;
}

.grid-intro-home > div > h1,
.grid-intro-home > div > h3 {
  color: white;
}

.top-rated {
  max-width: 40ch;
  text-align: center;
  margin-inline: auto;
}

/* @media only screen and (min-width: 90rem) {
  .bg-main-home::before {
    background: rgba(6, 12, 34, 0.94);
  }
} */

@media only screen and (max-width: 44rem) {
  .grid-intro-home {
    grid-template-columns: 1fr;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-top: -100px;
    padding-inline: 2rem;
  }
}

/*  -------------------------------- */
/*  Home Two Col ------------------ */
/*  -------------------------------- */

/* [class="grid-"] {
  display: grid;
} */

.grid-two-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.grid-two-col > div {
  align-self: center;
  /* outline: solid red 1px; */
}

@media only screen and (max-width: 64rem) {
  .grid-two-col {
    grid-template-columns: minmax(0, 1fr);
    gap: 3rem;
  }
}

.primer-two-col {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 3rem;
}

.primer-two-col > div {
  align-self: center;
  /* outline: solid red 1px; */
}

@media only screen and (min-width: 64.001rem) and (max-width: 84rem) {
  .primer-two-col {
    grid-template-columns: 3fr 1fr;
    gap: 3rem;
  }
}

@media only screen and (min-width: 84rem) {
  .primer-two-col {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
}

/*  -------------------------------- */
/*  Notifications ------------------ */
/*  -------------------------------- */

.notification {
  display: flex;
  place-content: center;
  padding: 20px;
  text-align: center;
  /* background: linear-gradient(120deg, #ffdbb8, #ffecb8); */
}

.notification p {
  max-width: 60ch;
  text-align: center;
}

.intro-notification {
  display: flex;
  place-content: center;
  padding: 20px;
  max-width: 62ch;
  text-align: center;
  margin-inline: auto;
  /* background: linear-gradient(120deg, rgba(255, 220, 184, 0.9), rgba(255, 236, 184, 0.9)); */
  margin-top: 2rem;
  border-radius: 5px;
  font-size: 14px;
  letter-spacing: 0.3px;
  font-weight: 4300;
  font-family: 'open sans';
}

/*  -------------------------------- */
/*  Info Overview Top -------------- */
/*  -------------------------------- */

.info-overview-top {
  display: grid;
  grid-template-columns: 1.625fr 8.5fr 1.6fr;
  gap: 6rem;
}

@media only screen and (max-width: 74.999rem) {
  .info-overview-top {
    grid-template-columns: 1.625fr 20fr 1.6fr;
  }
}

@media only screen and (max-width: 59.999rem) {
  .info-overview-top {
    grid-template-columns: minmax(0, 1fr);
    gap: 2rem;
  }
}

.info-overview-bottom {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 6rem;
}

.popular-title-ribbon {
  display: grid;
  grid-template-columns: 4fr 3fr;
  gap: 3rem;
}

.popular-ribbon {
  place-items: center;
  padding-bottom: 3px;
}

.info-three {
  align-self: center;
  justify-self: flex-end;
  max-width: 28ch;
}

.info-three p {
  line-height: 2;
}

.custom-table-row {
  padding-top: 0.75rem;
  border-top: solid #fff 1px;
  margin-top: 0.75rem;
}

.where-when {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

/*  -------------------------------- */
/*  Coder Spotlight ------------------ */
/*  -------------------------------- */

.coder-spotlight {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 0.5rem;
}

.field-section {
  display: grid;
  grid-template-columns: 1fr 3.5fr;
  place-self: center;
  padding: 2.5rem 2.5rem 3rem 2rem;
  height: 100%;
  width: 100%;
}

.coder-spotlight > div:nth-child(1),
.coder-spotlight > div:nth-child(2),
.coder-spotlight > div:nth-child(4),
.coder-spotlight > div:nth-child(5) {
  border-right: dashed 3px var(--black);
}

.coder-spotlight > div:nth-child(1),
.coder-spotlight > div:nth-child(2),
.coder-spotlight > div:nth-child(3) {
  border-bottom: dashed 3px var(--black);
}

.coder-info {
  padding-left: 2rem;
  text-transform: uppercase;
}

.field-section svg {
  width: 60px;
}

@media (min-width: 66rem) and (max-width: 89.999rem) {
  .coder-spotlight {
    grid-template-columns: repeat(2, 1fr);
  }

  .coder-spotlight > div:nth-child(1),
  .coder-spotlight > div:nth-child(3),
  .coder-spotlight > div:nth-child(5) {
    border-right: dashed 3px var(--black);
  }

  .coder-spotlight > div:nth-child(2),
  .coder-spotlight > div:nth-child(4),
  .coder-spotlight > div:nth-child(6) {
    border-right: none;
  }

  .coder-spotlight > div:nth-child(1),
  .coder-spotlight > div:nth-child(2),
  .coder-spotlight > div:nth-child(3),
  .coder-spotlight > div:nth-child(4) {
    border-bottom: dashed 3px var(--black);
  }
}

@media (max-width: 66rem) {
  .divider-cont {
    display: none;
  }

  .field-section {
    grid-template-columns: minmax(0, 1fr) minmax(0, 5fr);
    padding: 3.5rem 0.5rem 3rem 0.5rem;
    height: auto;
  }

  .field-section svg {
    width: 56px;
  }

  .field-section > div:first-of-type {
    place-self: center;
  }

  .coder-spotlight {
    grid-template-columns: repeat(1, 1fr);
  }

  .coder-spotlight > div:nth-child(1),
  .coder-spotlight > div:nth-child(2),
  .coder-spotlight > div:nth-child(4),
  .coder-spotlight > div:nth-child(5) {
    border-right: none;
  }

  .coder-spotlight > div:nth-child(1),
  .coder-spotlight > div:nth-child(2),
  .coder-spotlight > div:nth-child(3) {
    border-bottom: none;
  }
  .coder-spotlight > div + div {
    border-right: none;
    border-bottom: none;
    border-top: dashed 3px var(--black);
  }
}

.lecture-accent {
  display: grid;
  grid-template-columns: 80px minmax(0, max-content);
  margin-inline: auto;
  padding-inline: auto;
  justify-self: center;
  justify-content: center;
}

.lecture-location-image {
  width: 50px;
  display: block;
  margin-top: 4px;
  margin-left: 4px;
}

/*  -------------------------------- */
/*  Flexible Formats ------------------ */
/*  -------------------------------- */

.flex-formats {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1rem;
}

.flex-formats > div {
  place-self: center;
  text-align: center;
  padding: 2.5rem 3.25rem 3rem 2rem;
  height: 100%;
  width: 100%;
  border-right: dashed 3px var(--black);
}

.flex-formats > div:last-child {
  border-right: none;
}

.format-img-container {
  min-height: 150px;
}

.format-img {
  max-width: 100px;
  height: auto;
  border-radius: 0px;
  margin-bottom: 0.75rem;
}

.section-desc {
  max-width: 90ch;
}

@media (min-width: 66rem) and (max-width: 89.999rem) {
  .flex-formats {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .flex-formats > div:first-of-type {
    border-bottom: dashed 3px var(--black);
  }

  .flex-formats > div:nth-of-type(2) {
    border-right: none;
    border-bottom: dashed 3px var(--black);
  }

  flex-formats > div:nth-of-type(3) {
    border-right: none;
  }
}

@media (max-width: 66rem) {
  .flex-formats {
    grid-template-columns: minmax(0, 1fr);
  }

  .flex-formats > div {
    padding: 2.5rem 2rem 3rem 2rem;
  }

  .flex-formats > div {
    border-right: none;
    border-bottom: dashed 3px var(--black);
  }

  .flex-formats > div:last-child {
    border-bottom: none;
  }

  .section-desc {
    max-width: 100ch;
  }
}

/*  -------------------------------- */
/*  Footer ------------------------- */
/*  -------------------------------- */

.bg-footer {
  position: relative;
  background: url('imgs/keyboard.png') no-repeat;
  background-size: cover;
  background-position: center center;
  border-bottom: solid 0px #facd19;
}

.bg-footer::before {
  content: '';
  background: rgba(6, 12, 34, 0.88);
  position: absolute;
  inset: 0 0 0 0;
}

.bg-footer > div {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  align-self: center;
  color: white;
}

.footer-grid {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  position: relative;
  gap: 0.25rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

@media only screen and (min-width: 60.001rem) and (max-width: 74rem) {
  .footer-grid {
    grid-template-columns: 3fr 1fr;
    gap: 2rem;
  }

  .footer-grid > div:nth-of-type(2) {
    display: none;
  }
}

@media only screen and (min-width: 74.001rem) {
  .footer-grid {
    grid-template-columns: 1.5fr 1fr 0.7fr;
    gap: 2rem;
  }
}

.footer-grid > div {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

footer ul {
  list-style: circle;
}

footer li {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 0.8;
}

footer li span {
  background: rgba(255, 255, 255, 0.1);
  display: inline-block;
  padding-inline: 5px;
}

.footer-text {
  padding-bottom: 34px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
  margin-top: 30px;
  margin-right: 30px;
  margin-bottom: 10px;
  letter-spacing: 0.3px;
  max-width: 375px;
  font-size: 14px;
}

.jaxcode-logo-footer-top {
  font-weight: 500;
  padding: 14px 64px 1px 3px;
  letter-spacing: 1.1px;
  line-height: 1.4;
  color: var(--red);
  font-size: 1.75rem;
}

.jaxcode-logo-footer-bottom {
  font-weight: 500;
  padding: 1px 64px 16px 2px;
  letter-spacing: 1.1px;
  line-height: 1.4;
  color: white;
  font-size: 1.75rem;
  font-family: 'Open Sans', sans-serif;
  margin-left: -2px;
}

/* .soundwave-footer {
    margin-left: 50px;
    margin-top: 40px;
} */

.social-handle-footer {
  letter-spacing: 4px !important;
  transform: rotate(-90deg);
  color: white;
  transform-origin: -38% -75%;
  position: absolute;
  bottom: 0;
}

.social-icons-footer {
  padding-left: 40px;
}

footer i {
  color: white;
  margin-top: 28px;
  margin-bottom: 16px;
}

.copy-section {
  color: white;
  position: relative;
  text-align: center;
  background: rgba(6, 12, 34, 0.4);
  border-top: solid #2a2a2a 1px;
}

.copy-section p {
  color: white;
  font-family: var(--monospace);
  font-size: 13px;
}

.grid-intro-home > div > h1,
.grid-intro-home > div > h3 {
  color: white;
}

@media only screen and (max-width: 40rem) {
  .grid-intro-home {
    grid-template-columns: 1fr;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-top: -100px;
  }
}

#nav-side ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 18%;
  left: 0px;
  z-index: 8888;
  gap: clamp(0.75rem, 3.5vh, 2rem);
  padding: 30px;
  mix-blend-mode: difference;
  background: transparent;
  isolation: isolate;
  align-items: flex-start;
  /* box-shadow: 10px 0px 10px #fff; */
  /* transform: translateY(-50%); */
}

#nav-side a {
  display: inline-block;
  text-decoration: none;
  padding-inline: 6px;
  color: #fff;
  mix-blend-mode: difference;
  font-family: var(--monospace);
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: solid 3px transparent;
  margin-bottom: 14px;
}

#nav-side a.active,
#nav-side a:hover {
  border-bottom: solid 3px var(--brightblue);
  mix-blend-mode: color-dodge;
}

.plan-tables {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

.plan-tables > div {
  align-items: flex-start;
  text-transform: uppercase;
}

.plan-tables h4 {
  font-size: 16px;
  text-transform: uppercase;
  font-family: var(--monospace);
  /* background: #ffe644; */
  color: red;
  padding-inline: 0.375rem;
  margin-inline: auto;
  line-height: 1;
  margin-bottom: 0.75rem;
}

.plan-tables p.price {
  font-size: 34px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-family: var(--monospace);
  padding: 4px 64px 30px 64px;
  line-height: 1;
  font-weight: 600;
  border-bottom: solid #00000030 1px;
  margin-bottom: 24px;
}

.check {
  display: inline-block;
  margin-right: 4px;
}

.plan-feature {
  padding: 10px 30px;
  text-align: center;
  font-size: 16px;
  text-transform: none;
  font-family: var(--monospace);
}

@media only screen and (max-width: 68rem) {
  .plan-tables {
    grid-template-columns: minmax(0, 1fr);
    gap: 2rem;
  }
}

#primer {
  background-color: white;
  background-image: url('imgs/silhouette.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#bootcamps {
  background-color: white;
}

#formats {
  background-color: white;
}

.bg-white {
  background-color: white;
}

.new-note-border {
  margin-inline: auto;
  padding: 4px;
  border-radius: 14px;
  background: linear-gradient(100deg, #70c7ff, #c874ff);
  background: linear-gradient(100deg, var(--green), var(--darkgreen));
  background: linear-gradient(100deg, var(--red), var(--red));
  margin-bottom: 30px;
  max-width: min(760px, 80vw);
}

.new-note {
  text-align: center;
  padding: 30px 40px;
  border-radius: 12px;
  background-color: white;
}

.menu-toggle {
  display: none;
}

@media only screen and (max-width: 50rem) {
  .new-note-border {
    max-width: min(560px, 80vw);
  }

  header.container-pilo {
    padding-inline: 1.25rem;
  }

  #nav-side ul {
    position: fixed;
    inset: 0 0 0 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9700;
    overflow-y: scroll;
    transform: translateX(-100%);
    mix-blend-mode: normal;
    background: rgb(0, 0, 20);
    /* isolation: auto; */
    align-items: center;
    justify-content: center;
    /* border: solid rgb(15, 15, 15) 10px; */
  }

  #nav-side ul[data-visible='true'] {
    transform: translateY(0);
  }

  #nav-side a {
    min-width: 40vw;
    text-decoration: none;
    padding-inline: 6px;
    color: #fff;
    font-weight: 500;
    mix-blend-mode: normal;
    border-bottom: solid 1px rgba(237, 239, 255, 0.3);
    margin-bottom: 14px;
  }
  #nav-side a.active,
  #nav-side a:hover {
    border-bottom: solid 1px rgb(197, 0, 0);
    mix-blend-mode: normal;
  }

  nav {
    position: relative;
  }

  .grid-intro-home > div {
    padding-top: 10rem;
  }

  .enroll {
    display: none;
  }

  .jaxcode-logo {
    display: flex;
    padding: 14px 16px 16px 16px;
  }

  .menu-toggle {
    display: block;
    padding: 1rem;
    padding-top: 0.75rem;
    background-color: transparent;
    border: none;
    z-index: 9999;
    position: relative;
    z-index: 9999;
    /* position: fixed;
    top: 1.675rem;
    right: 1rem; */
  }

  .menu-toggle span {
    margin: 0 auto;
    position: relative;
    top: 1px;
    transition-duration: 0s;
    transition-delay: 0.2s;
    transition: background-color 0.3s;
    z-index: 9999;
  }

  .menu-toggle span:before,
  .menu-toggle span:after {
    position: absolute;
    content: '';
    transition-property: margin, transform;
    transition-duration: 0.2s;
    transition-delay: 0.2s, 0;
  }

  .menu-toggle span,
  .menu-toggle span:before,
  .menu-toggle span:after {
    width: 26px;
    height: 2px;
    background: var(--primary);
    border-radius: 4px;
    display: block;
    opacity: 1;
  }

  .menu-toggle span:before {
    margin-top: -8px;
  }

  .menu-toggle span:after {
    margin-top: 8px;
  }

  .menu-toggle-active span {
    background: transparent;
    transition: 0.3s background-color;
  }

  .menu-toggle-active span:before,
  .menu-toggle-active span:after {
    margin-top: 0;
    transition-delay: 0, 0.2s;
    background: var(--primary);
    transition: 0.3s all;
    /* box-shadow: 0 0 20px white; */
  }

  .menu-toggle-active span:before {
    transform: rotate(45deg);
  }

  .menu-toggle-active span:after {
    transform: rotate(-45deg);
  }
}

label {
  display: block;
  color: rgb(112, 112, 112);
  padding-inline: 0.75rem 1.25rem;
  margin-top: -2.25rem;
  margin-left: 1.375rem;
  cursor: text;
}

#emailadd {
  display: block;
  border: solid var(--red) 2px;
  border-radius: 16px;
  padding: 0.75rem 1.25rem;
  font-size: 17px;
  margin-top: 2.375rem;
  width: 80%;
  cursor: text;
}

input {
  padding: 0.75rem 1.25rem;
  border: solid red 2px;
  border-radius: 16px;
  margin-top: 1.25rem;
  margin-right: 0.5rem;
  background-color: whitesmoke;
  max-width: 100%;
}

@media only screen and (min-width: 50rem) {
  input {
    min-width: 310px;
  }
}

input:focus + label {
  color: transparent;
}

input:focus {
  outline: solid rgb(130, 0, 0) 1px;
}

input[type='submit'] {
  margin-top: 0.9375rem;
  min-width: 60px;
}
